/*.dingbu
{
	width: 
}*/

header,.main{
	      width: 95%;
	      margin: 0 auto;
}
.shortCut
{
	height: 30px;
	line-height: 30px;
	width: 100%;
	background: #ddd;
	font-size: 13px;

}

.shortCut img
{
	margin-left: 280px;
}

.shortCut-nav1 img
{
	 position: relative;
    top:3px;
}

.shortCut-nav2
{
	position:absolute;
 right: 30px;
	top: 0;

}
.shortCut-nav2 li
{
	
float: left;

padding: 0 5px;
width: 80px;
text-align: center;
	
}

.myjd
{
	width: 240px;
	background: #fff;
	text-align: left;
	display: none;
}

.myjd-shang{
	border-bottom: 1px solid #eee;
}

.myjd >div
{
	/*padding-left: 15px;*/
	padding: 5px 10px;
	position: relative;
	z-index: 9999;
}
.myjd a
{
	width: 100px;
	display: inline-block;
	height:20px;
	color: #888;
}

.kehufuwu
{
	width: 160px;
	background: #fff;
	text-align: left;
	display: none;
	position: relative;
	right: 70px;

}

.kehufuwu-shang{
	border-bottom: 1px solid #eee;
}

.kehufuwu >div
{
	/*padding-left: 15px;*/
	padding: 5px 5px;
	position: relative;
	z-index: 9999;
}
.kehufuwu a
{
	width: 70px;
	display: inline-block;
	height:25px;
	color: #888;color: #888;
}

.daohang
{
	width: 1260px;
	background: #fff;
	text-align: left;
	display: none;
	position: relative;
	right: 1080px;
	padding-left: 15px;
	padding-bottom: 15px;
}


.daohang >div
{
	/*padding-left: 15px;*/
	
	width: 300px;
	padding-top: 10px;
	display: inline-block;
	position: relative;
	z-index: 9999;
	color: #888;
	
}
.daohang a
{
	width: 90px;
	display: inline-block;
	height:25px;
	line-height: 25px;
	color: #888;
}


.shortCut-nav2 li:last-child
{
	background:none;
}

.shortCut-nav2 li >a
{
	color: #888;
	background:linear-gradient(to top,#888,#888,#888)
no-repeat right/1px 11px ;
padding: 0 5px;
display: inline-block;
width: 80px;
	
}
/*.shortCut-nav2 li a:hover
{
	color: #ce1b1b;
}*/

.shortCut-nav2 span
{
	color: red;
}

/*....header....*/
header
{
	width: 90%;
}

.logoimg
{
	background: #fff;
	position: absolute;
	top: 0;
	box-shadow:0 1px 8px #aaa;
}

.search
{
	margin-top: 30px;
	margin-left: 330px;

}

.search-box
{
	border: 1px solid #D81E06;
	width: 545px;
	border-radius: 3px;
}

.search input
{
	height: 30px;
	background: #f1f1f1;
	font-size: 18px;


}
.search input[name=searchBox]
{
	width: 500px;
	border: 0;
	text-indent: 5px;
}

.search input[type=submit]
{
	width: 38px;
	height: 38px;
	border: 0;
	background: url(../img/icon/search.svg) center no-repeat;
}

.search input[type=submit]:hover
{
	cursor: pointer;
}
.hotwords a
{
	font-size: 13px;
	color: #888;
}

a:hover
{
	color: #ce1b1b;
}
.hotwords a:hover,
.hotwords a:first-child,
.navitems a:hover,
.shortCut-nav2 li a:hover,
.shortCut-nav2 a[name=xuanzhong],
.navitems a[name=xuanzhong],
.navmenu a:hover
{
	color: #ce1b1b;
}



/*.hotwords a:first-child,
.shortCut-nav2 li a[name=xuanzhong],
.navitems li a[name=xuanzhong],*/


.shopCar
{
	height: 48px;
	width: 200px;
	position: absolute;
	background: #FFF;
	right: 150px;
	margin-top: -65px;
	font-size: 16px;
	color: #d81e06;
	z-index: -1;
}

.shopCar img
{
	position: relative;
	top: 10px;
	padding-left: 30px;

}

/* banner上面的navitems*/
.navitems
{
	margin-left: 215px;
	margin-top: 25px;


}

.navitems li
{
	float: left;
	padding: 0 12px;
}
.navitems li a
{
	font-family: "微软雅黑";
	font-size: 22px;
	font-weight: bold;
	color: #000;
}

.xiadanchaifudanyinghaoli img
{
	margin-left: 30px;
	/*margin-top: -15px;*/
}

/*。。。主体。。。*/
.navmenu
{
	background: #6e6568;
	width: 190px;
	height: 550px;
	color: #fff;
	padding-top: 15px;
	float: left;
	
}

.navmenu li
{
	overflow: hidden;
   display: inline-block;
	text-indent: 6px;
	width: 100%;
	
}

.navmenu li >a
{
	color: #fff;
	 font-size: 15px;
	    height: 30px;
    line-height: 30px;
	
}

.navmenu li:hover
{
	background: #aaa;
	border: 0;
}




.submenu-box
{	
	display: none;
	position: absolute;
	left: 255px;
	top: 190px;
	padding-top: 20px;
	width: 830px;
	height: 550px;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:2px 2px 5px #ccc;
	-moz-box-shadow:2px 2px 5px #ccc;
	-ms-box-shadow:2px 2px 5px #ccc;
	-o-box-shadow:2px 2px 5px #ccc;
	box-shadow:2px 2px 5px #ccc;
	z-index: 20;
}


.submenu-top a
{
	padding: 5px 8px;
	background: #6e6568;
	color: #fff;
	width: 40px;
}

.submenu-con a
{
	color: #848181;
	margin-top: 5px;
	padding: 8px 6px;
	/*margin-bottom: px;*/
	display: inline-block;

}

.submenu-box hr
{
	width: 80%;
	margin: 0 auto;
	background: #e9e9e9;
}

/*...banner...*/
/*
 | ------------------------------------------
 | Glide styles
 | ------------------------------------------
 | Here are slider styles
 | 
*/

.box {
	width: 100%; 
	height: 100%;
	line-height: 5;
	text-align: center;
	font-size: 5em;
	color: #fff;
	text-transform: capitalize;
	vertical-align:middle; 
}
.banner
{	
	width: 800px;
	overflow: hidden;	
	height: 565px;
	float: left;
	margin-left: 20px;
	border: 1px solid #ddd;
	/*position: relative;*/
	z-index: -1;
}

.slider {
	position: relative;
	width: 100%;
	height: 565px;
	
}
	
.slides {
	height: 100%;
	
	/* Simple clear fix */
	overflow: hidden;
	
	/**	
	 * Prevent blinking issue
	 * Not tested. Experimental.
	 */
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;

	/**
	 * Here is CSS transitions 
	 * responsible for slider animation in modern broswers
	 */
	-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	    -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	     -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	        transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
	
.slide {
	height: 100%;
	float: left;
	/*clear: none;*/
}

.slider-arrow {
	position: absolute;
	display: none;		
	width: 60px;
	height: 60px;
	line-height: 58px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 2em;
	background-color: rgba(50,50,50,.4);
	border-radius: 50%;
}

.slider:hover .slider-arrow 
{	
	display: block;
	background-color: rgba(50,50,50,.6);
	color: #fff;
}

.slider-arrow--right { 
	bottom: 50%; right: 5%; }
.slider-arrow--left {
    bottom: 50%; left: 5%; }


.slider-nav {
	position: absolute;
	/*bottom: -40px;*/
	bottom: 20px;
}

.slider-nav__item {
	width: 12px;
	height: 12px;
	float: left;
	clear: none;
	display: block;
	margin: 0 5px;
	background: #fff;
}

.slider-nav__item:hover { background: #888; }
.slider-nav__item--current { background: #555; }


/*....登陆侧栏....*/
.aaa 
{
	/*float: left;*/
	float: left;
	height: 575px;
	width: 190px;
	margin-top: -10px;
	background: #fff;
	margin-left: 15px;
}
.aaa >div
{
	margin-top: 10px;

}
.user
{
	height: 120px;
	color: #333;
}

.user img
{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	float: left;
	padding-right: 10px;
}

.userinfo
{
	height: 70px;
	padding-top: 10px;
	margin-left: 5px;
}

.userinfo p a
{
	margin: 6px 5px;

}

.userinfo p
{
	margin: 4px 0;

}

.usernew a
{
	padding: 3px 6px;
	border: 2px solid red;
	display: inline-block;
	margin-left: 4px;
}

.usernew a:hover
{
	background: red;
	color: #fff;
}

.news
{
	height: 170px;
	
}

.tab-tit
{
	border-top: 1px solid #ddd;
	
}

.tab-tit a
{
	padding:3px 5px;
	height: 30px;
	margin: 0 5px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	color: #555;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

.tab-tit a span
{
	padding-left: 20px;
}

.tab-tit a:not(:last-child):hover
/*.tab-tit a:first-child*/
{
	border-bottom: 2px solid red;
}
.tab-con li
{
	padding: 5px 8px;
	
}

.tab-con
{
	margin-top: 15px;
}

.gengduo
{
	position: relative;
	left: 25px;
	bottom: 0;
	font-size: 14px;
	border: 0;
}
.tab-con li a
{
	padding: 5px 0;
	color: #888;
}

.tab-con li a:hover
{
	color: #ce1b1b;
}
.tabnone
{
	display: none;
	/*margin-top: -125px;*/

}
.service
{	
	
	position: relative;
	top: 40px;
	width: 199px;
}

.service a
{
	height: 60px;
	width: 47px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #f1f1f1;
	float: left;
	text-align: center;
	color: #888;
	padding-top: 10px;
}

.service a:hover span
{
	color: #ce1b1b;
}
.service span
{
	font-size: 13px;
}


/*....秒杀活动栏....*/
.miaosha-title
{
	width: 95%;
	height: 50px;
	margin: 0 auto;
	padding-top: 10px;
	margin-top: 50px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 25px;
	background: #E01222;
}

.miaosha-title span:nth-child(2)
{
	font-size: 18px;
	margin-left: 20px;
}
.miaosha
{
	width: 100%;
	height: 250px;
	text-align: center;
	margin: 0 auto;
}

#LeftTime
{
	margin-left: 100px;

}
.miaosha ul
{
	margin:0 auto;
	width: 100%;
}
.miaosha li
{
	float: left;
	margin: 15px 9px;
	padding: 15px 9px;
	border: 1px solid #ccc;
	vertical-align: center;

}

.miaosha li a
{
	width: 170px;
	display: inline-block;
    color: #666;
}
.miaosha li:hover a
{
	color: #ce1b1b;
}

.miaosha li img
{	
	width: 170px;
	padding-left: 2px;
	height: 180px;
	display: block;
	transition: all 350ms ease;
}

.miaosha li:hover img
{
	transform: translateY(-7px);
	box-shadow: 3px 3px 9px #777;
}

.zhekou
{	
	width: 20px;
	height: 20px;
	color: red;
	font-size: 20px;
	margin-right: 10px;
}

.dazhe
{
	width: 20px;
	height: 20px;
	text-decoration:line-through;
	color: #999;
}

/*。。。商品展示goods*/
.goods
{
	margin: 0 auto;
}

.goods >div
{
	height: 600px;
	width: 400px;
	float: left;
	text-align: center;
	padding-left: 20px;

}

.goods-tit
{
	height: 70px;
	width: 400px;
	text-align:left;
	background: #3C8D96;
	color: #fff;
}

.goods-tit h2
{
	padding-top: 15px;
	padding-left: 30px;
}

.goods-tit a
{
	float: right;
	margin-right: 20px;
	color: #fff;
}

.goods li
{
	width: 198px;
	height: 160px;
	float: left;
	background: #fff;
	border: 1px solid #eee;
	overflow: hidden;

	
}
.goods li img
{
	width: 80px;
	height: 80px;
	margin-left: 70px;
	margin-top: 20px;
	transition: all 400ms;
}

.goods li i
{
	height: 25px;
	width: 80px;
	color: blue;
	display:block;
	padding-top: 20px;
	padding-left: 20px;
	/*position: absolute;
	top: 20px;
	left: 15px;*/
}

.goods li:hover
{
	cursor: pointer;
}

.goods li:hover img
{
	transform: translateX(-7px);
}

.xiangpinzhi
{
	width: 100%;
	margin: 0 auto;

}
.xiangpinzhi >p,
.goutese >p,
.meiguanggou-p
{
	padding: 25px 0;
	text-align: center;
	font-size: 25px;
	color: #aaa;
}
.xiang-box
{
	float: left;
	margin-top: 10px;
	margin-left: 16px;
}

.xiang-box:hover .xiang-right img
{
	transform: translateX(-10px);
}


.xiang-left
{
	position:absolute;
	width: 150px;
	height: 170px;
	z-index: 3;
	opacity: 0.85;
}

.xiang-left p
{
	font-size: 18px;
}

#xiang-left1
{
	background: #d58717;
}
#xiang-left2
{
	background: #488c94;
}
#xiang-left3
{
	background: #5c5566;
}
#xiang-left4
{
	background: #b04942;
}
#xiang-left5
{
	background: #6e356e;
}
#xiang-left6
{
	background: #866350;
}

.xiang-right img
{
	width: 400px;
	height: 170px;
	position: relative;
	z-index: 2;
	left: 15px;
	transition: all 350ms;

}
.xiang-right
{
  overflow: hidden;
}

.xiang-left p,
.xiang-left h3
{
	color: #fff;
	margin-top: 7px;
	margin-left: 10px;
}

.xiang-left h3
{
	width: 100px;
	margin-top: 20px;
	padding: 5px;
	text-align: center;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}


/*......爱生活...... aishenghuo........*/

.ai-left
{
	width: 49%;
	background: #fff;
	float: left;
	position: relative;
	margin-top: 35px;
}
.aishenghuo p
{
	margin: 25px 0;
	text-align: center;
	font-size: 25px;
	color: #aaa;

}
.ai-nav
{
	height: 70px;
	line-height: 70px;
}
#ai-leftnav
{
	background:linear-gradient(#974676,#bf5a96);
	
}
#ai-rightnav
{
	background:linear-gradient(#c1314e,#c34d65);
}

#ai-jiadianguang
{
	background:linear-gradient(#674083,#9d73bb);
}
#ai-gaojipai
{
	background:linear-gradient(#4c5e8c,#6f80ab);
}

.ai-left h2,
.ai-right h2
{
	position: absolute;
	top: 18px;
	width: 80px;
	left: 40px;
	color: #fff;
}
.ai-nav li
{
	float: right;
	margin-right: 5px;
}

.ai-nav li a
{
	padding: 2px 6px;
	border: 1px solid #ccc;
	color: #fff;
	background: rgba(152,68,117,.4);
}

.ai-nav li a:hover
{
	border: 1px solid #fff;
	cursor: pointer;
}


.fuzhuancheng
{
	float: left;
}

.ai-zhubao
{
	text-align: center;	
}

.ai-zhubao img{
	margin: 5px 5px;
}

.ai-left-con-right a
{
	width: 217px;
	height: 130px;
	float: left;
	position: relative;
}

.ai-left-con-right img
{	
	position: absolute;
	right: 20px;
	bottom: 10px;
	
}

.ai-right
{
	width: 49%;
	background: #fff;
	float: right;
	position: relative;
	margin-top: 35px;

}

.ai-left-con-right i
{

	width: 75px;
	color: blue;
	display:block;
	padding-top: 15px;
	padding-left: 20px;
}

.ai-left-con a:hover img
{
	transform: translateX(-7px);
}

img
{
	transition: 350ms;
}

.goutese
{
	width: 100%;
	height: 160px;
	
}

.gou-ul
{
	margin: 0 auto;
	
}
.goutese li
{
	float: left;
	height: 140px;
	width: 160px;
	margin: 20px 10px;
	text-align: center;
	position: relative;
}

.gou-item
{
	position:absolute;
	width: 160px;
	height: 70px;
	bottom: 0;
	background: #916c56;
}

.gou-item p,
.gou-item h3
{
	padding-top: 7px;
	color: #fff;
}

.meiguanggou
{
	width: 100%;
	margin: 0 auto;
}
.mei-div
{
	width: 100%;
	margin: 0 auto;
}
.mei-ul li
{
	float: left;
	width: 238px;
	background: #fff;
	margin: 10px 8px;
	text-align: center;
	border: 1px solid #fff;
}

.mei-ul li:hover
{
	border: 1px solid red;
}


.mei-ul li img
{	
	margin-top: 10px;
	
}

.mei-li-div
{
	width: 200px;
	margin:0 auto;
	padding-bottom: 20px;
	text-align: left;
}

.mei-li-div p
{
	font-size: 13px;
	height: 25px;
	overflow: hidden;
	line-height: 20px;
}
.mei-li-div span
{
	color: red;
	font-size: 10px;
}
.mei-ul li p
{
	width: 200px;
	height: 40px;
	overflow: hidden;
	text-align: center;
	color: #888;
}

.mei-ul li:hover  .mei-li-div p
{
 color: #ce1b1b;
}

footer
{
	
	width: 100%;
	margin: 0 auto;
	background: #fff;
	padding-top: 40px;
}

.foot-tit
{
	width: 95%;
	margin: 0 auto;
	color: #888;
	height: 150px;
	border-bottom: 1px solid #eee;
	
}
.foot-tit-ul >li
{
	width: 20%;
	float: left;
	text-align: center;
	font-size: 18px;
}
.foot-tit-ul ul
{
	margin-top: 10px;
}
.foot-tit-ul ul li
{
	font-size: 14px;
	padding: 2px 0;
	color: #888;
}

.foot-tit-ul ul a
{
	color: #888;
}

.foot-tit-ul ul a:hover,
.foot-foot a:hover
{
	color: #ce1b1b;
}

.foot-foot
{
	width: 80%;
	height: 50px;
	margin: 20px auto 10px;
	text-align: center;
}

.foot-foot ul
{
	width: 78%;
	margin: 0 auto;
	text-align: center;
}
.foot-foot ul li
{
	float: left;
    text-align: center;

}

.foot-foot a
{
	padding: 5px;
	color: #888;
}

